.btn{
  margin:70px; 
} 
.RollDice1{
    display:flex;
    flex-flow: column nowrap;
}
.RollDice2{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.RollDice3{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 200px;
    
}
button{
    height: 50px;
    width:200px;
    background-color:rgb(84, 156, 11);
    align-self: center;
}
h1{
    color:chartreuse;
    align-self: center;
}

button:hover{
    background-color:darkgray;
}
